{% extends 'base.html' %} {% block title %}
ParkingAttendant Register
{% endblock title %}

{% block body %}

<div class="min-h-screen p-6 bg-gray-100 flex items-center justify-center ">
    <div class="container mx-auto">
        <div>
            <h2 class="font-semibold text-xl text-gray-600">Create account as Parking Attendant</h2>
            <p class="text-gray-500 mb-6">Create Your First Account</p>

            <div class="bg-white rounded shadow-lg p-4 px-4 md:p-8 mb-6 ">
                <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 lg:grid-cols-3">
                    <div class="text-gray-600">
                        <p class="font-medium text-lg">Personal Details</p>
                        <p>Please fill out all the fields.</p>
                        <p class="my-4 font-bold">Area Manager : {{admin.name}}</p>
                        <p class="font-bold">Contact Phone : {{admin.phone}}</p>
                        <p class="font-bold">Contact Email : {{admin.email}}</p>
                    </div>

                    <form onsubmit="return validateForm()" class="w-full" action="/sub-admin/register/{{enc_id}}"
                        method="post">
                        {% csrf_token %}
                        <div class="lg:col-span-2">
                            <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 md:grid-cols-5">
                                <div class="md:col-span-5">
                                    <label for="name" class="block mb-2 text-sm font-medium text-gray-900">Full Name<span class="text-red-500">*</span></label>
                                    <input type="text" name="name" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="John Doe" required="">
                                </div>

                                <div class="md:col-span-5">
                                    <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Your email<span class="text-red-500">*</span></label>
                                    <input type="email" name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="name@company.com" required="">
                                </div>

                                <div class="md:col-span-3">
                                    <label for="phone" class="block mb-2 text-sm font-medium text-gray-900">Your phone<span class="text-red-500">*</span></label>
                                    <input type="text" name="phone" id="phone" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="name@company.com" required="">
                                </div>

                                <div class="md:col-span-2">
                                    <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Password<span class="text-red-500">*</span></label>
                                    <input type="password" name="password" id="password" placeholder="1234567890" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" required="">
                                    <p class="text-red-500 font-bold text-sm" id="password-error"></p>
                                </div>

                                <div class="md:col-span-2 my-2">
                                    <label for="confirm-password" class="block mb-2 text-sm font-medium text-gray-900">Confirm password<span class="text-red-500">*</span></label>
                                    <input type="password" name="confirm-password" id="confirm-password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" required=""> 
                                    <p class="text-red-500 font-bold text-sm" id="confirm-password-error"></p>
                                </div>
                                <div class="md:col-span-3 my-2">
                                    <label for="areas" class="block mb-2 text-sm font-medium text-gray-900">Available Parking Areas<span class="text-red-500">*</span></label>
                                    <select name="parking_areas" id="parking-area-choose" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5">
                                        <option value="no" selected>Choose Parking Area</option>
                                        {% for area in areas %}
                                            <option value="{{area.uid}}">{{area.area_name}}</option>                                        
                                        {% endfor %}
                                    </select>
                                </div>
                                <div id="selected-area-container" class="my-2 flex gap-4 flex-wrap">
                                    
                                </div>
                                

                                <div class="md:col-span-5 text-right my-5">
                                    <div class="flex flex-col items-start justify-center gap-4">
                                        <button onclick="return validateForm()" onsubmit="return validateForm()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Register</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

  <script src="/static/js/subadmin_js/register.js"></script>
{% endblock body %}